:root{
    --secondary-font: "Open Sans", sans-serif;
    --heading-font: "Raleway", sans-serif;
    --third-font: "Montserrat", sans-serif;
    --main-background-color: #2f333a;
    --main-text-color: #ff7004;
    --hover-color:#212121;
}

/*start page-title section*/
.page-title{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f4f5f8;
    margin-bottom: 100px;
}
.page-title h2{
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #212121;
}
.page-title ul{
    margin-top: 10px;
    /* transform: translateX(-1%); */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 0px;
}
.page-title ul li{
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 14px;
}
.page-title ul li a{
    color: #474747;
    font-weight: 500;
    transition: 0.4s;
}
.page-title ul li .home-link:hover{
    color: var(--main-text-color);
}
.page-title ul .slash::before{
    content: "/";
    position: absolute;
    color: #474747;
    left: -13px;
}
@media screen and (max-width: 767px) {
    .page-title h2{
        font-size: 20px;
    }

    .page-title ul li{
        font-size: 12px;
    }
}
/*end page-title section*/

/*start about content*/
.about-content-wrapper h2{
    font-size: 30px;
    font-weight: 700;
    color: #212121;
    font-family: var(--heading-font);
}
.about-store{
    font-size: 14px;
    line-height: 2;
}
.about-store h4{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #212121;
    font-family: var(--heading-font);
}
.about-store p{
    margin-bottom: 0px;
    color: #474747;
    font-family: var(--secondary-font);
}
/*end about content*/