:root{
    --secondary-font: "Open Sans", sans-serif;
    --heading-font: "Raleway", sans-serif;
    --main-background-color: #2f333a;
    --main-text-color: #ff7004;
}

p{
    font-family: var(--heading-font);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*start welcome-section*/
.welcome-message{
    background-color: var(--main-background-color);
    padding: 10px 0px;
}
.welcome-message .message p{
    color: var(--main-text-color);
}
.welcome-message .dropdown-lists select{   
 /* width: 260px; */
  /* padding: 12px 40px 12px 12px; */
  font-size: 16px;
background-color: var(--main-background-color);
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--heading-font);
}
.welcome-message .dropdown-lists select:hover{
    color: var(--main-text-color);
}
.welcome-message .dropdown-lists select option{
   font-size: 13px;
   padding: 10px !important;
}
/*end welcome-section*/
/*start logo-heading-section*/
.logo-heading-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-heading-section .icon-item button{
    background-color: #fff;
    border: 0px;
    padding: 0px;
}
.logo-heading-section .icon-item .bag-icon::after{
    content: "0";
    position: absolute;
    line-height: 17px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    background-color: var(--main-text-color);
    right: -8px;
}
.view-cart{
    position: absolute;
    bottom: 20px;
    width: 90%;
}
.canvas-link{
    display: inline-block;
    position: relative;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--main-text-color);
    padding: 15px 36px 15px 10px;
    border-radius: 3px;
    transition: all ease .5s;
}
.canvas-link:hover{
    background-color: #2f333a;
}
.canvas-span{
    position: absolute;
    right: 10px;
    padding: 10px;
    background-color: #fff;
    color: var(--main-text-color);
    top: 50%;
    height: 37px;
    transform: translateY(-50%);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvas-form{
    display: flex;
    width: 50%;
    margin: auto;
    position: relative;
    top: -12px;
}
.search-input{
    display: block;
    width: 100%;
    padding: 12px 12px;
    font-size: 1rem;
    background-image: none;
    line-height: 1.25;
    color: #464a4c;
    border: 1px solid #00000026;
    outline: 0;
}
.search-input:focus{
    border-color: var(--main-text-color);
}
.search-button{
    width: 60px;
    color: #fff;
    background-color: var(--main-text-color);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
}
/*end logo-heading-section*/

/*start nav-section*/
.navbar{
    /* background-color: var(--main-background-color); */
    font-family: var(--secondary-font);
}
.nav-link{
    color: #2f333a;
    font-size: 15px;
}
.nav-link:hover{
    color: var(--main-text-color);
}
.dropdown-item{
    font-family: var(--secondary-font);
    font-size: 14px;
    border-top: 1px solid rgb(233, 230, 230);
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
}
.dropdown-item:hover{
    color: var(--main-text-color);
    background-color: #fff;
}
/*start nav-section*/

/*start sticky-nav-section*/
.sticky-nav{
    background-color: var(--main-background-color);
}
.sticky-nav .sticky-items button{
    color: #fff;
    border: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.sticky-nav .sticky-items .cart-button::after{
    content: "0";
    position: absolute;
    line-height: 17px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    background-color: var(--main-text-color);
    right: -4px;
    top: 0px;
}
/*end sticky-nav-section*/
.aside-button{
    color: #fff;
    font-weight: 600;
    background-color: var(--main-background-color);
    border: 0px;
    font-family: var(--secondary-font);
    padding: 15px;
    border-radius: 3px 0px 0px 3px;
    top: calc(30% + 110px);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 16px -1px;
}
.aside-span1{
    font-size: 14px;
}
.aside-span2{
    width: 65px;
    height: 25px;
    color: var(--main-text-color);
    font-weight:700;
    background-color: #fff;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 5px;
    line-height: 1.7;
}

/*start footer-section*/
.footer{
    background-color: var(--main-background-color);
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
}
.footer .footer-item h4{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
    font-family: var(--heading-font);
}
.footer .footer-item .text-content p{
    font-size: 14px;
    max-width: 290px;
    line-height: 24px;
}
.footer .footer-item .text-content .footer-icons{
    margin-top: 15px;
}
.footer .footer-item ul li{
    margin-bottom: 8px;
    transition: 0.4s;
}
.footer .footer-item ul li:hover{
    transform: translateX(8px);
}
.footer .footer-item ul li a{
    font-size: 14px;
    line-height: 24px;
    padding: 0px;
    color: #fff;
    transition: 0.4s;
}
.footer .footer-item ul li a:hover{
    color: var(--main-text-color);
}
.footer .footer-item .footer-form{
    margin-top: 20px;
}
.footer .footer-item .footer-form input{
    display: inline-block;
    font-size: 14px;
    width: 100%;
    background: transparent;
    border-radius: 0px;
    text-transform: capitalize;
    text-align: left;
    height: 50px;
    border: 1px solid #43474e;
    padding-left: 20px;
    padding-right: 10px;
    box-shadow: none;
    transition: 0.4s;
    color: #fff;
    outline: none;
    vertical-align: top;
    line-height: 50px;
    font-weight: 600;
}
.footer .footer-item .footer-form input:focus{
    border-color: var(--main-text-color);
}
.footer .footer-item .footer-form button{
    font-size: 13px;
    font-weight: 600;
    border: 0px;
    margin-top: 20px;
    display: inline-block;
    padding: 17px 36px;
    transition: 0.4s;
    font-family: var(--heading-font);
    background-color: var(--main-text-color);
    color: #fff;
    line-height: 1;
    outline: 0;
    border-radius: 0px;
    text-align: center;
}
.footer .footer-item .footer-form button:hover{
    background-color: #212121;
}
/*end footer-section*/

/*start sub-footer-section*/
.subfooter{
    background-color: #212121;
    padding-top: 25px;
    padding-bottom: 20px;
}
.sub-footer-para{
    color: #fff;
    font-size: 13px;
    font-family: var(--heading-font);
    line-height: 26px;
}
.sub-footer-para svg{
    margin: 0px 1px;
    font-size: 14px;
}
.sub-footer-para a{
    color: #fff;
    font-weight: 700;
}
/*end sub-footer-section*/