:root{
    --secondary-font: "Open Sans", sans-serif;
    --heading-font: "Raleway", sans-serif;
    --third-font: "Montserrat", sans-serif;
    --main-background-color: #2f333a;
    --main-text-color: #ff7004;
    --hover-color:#212121;
}

/*start page-title section*/
.page-title{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f4f5f8;
    margin-bottom: 100px;
}
.page-title h2{
    margin: 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #212121;
}
.page-title ul{
    margin-top: 10px;
    /* transform: translateX(-1%); */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 0px;
}
.page-title ul li{
    letter-spacing: 2px;
    display: inline-block;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 14px;
}
.page-title ul li a{
    color: #474747;
    font-weight: 500;
    transition: 0.4s;
}
.page-title ul li .home-link:hover{
    color: var(--main-text-color);
}
.page-title ul .slash::before{
    content: "/";
    position: absolute;
    color: #474747;
    left: -13px;
}
@media screen and (max-width: 767px) {
    .page-title h2{
        font-size: 20px;
    }

    .page-title ul li{
        font-size: 12px;
    }
}
/*end page-title section*/
/*start page-content*/
.page-content .sort-content{
    padding: 10px 20px;
    margin-bottom: 40px;
    font-size: 14px;
    background-color: #ebebeb;
    align-items: center;
}
@media screen and (max-width: 431px) {
    .page-content .sort-content{
        flex-direction: column;
        gap: 10px;
    }
}
.page-content p{
    color: #474747;
    font-family: var(--secondary-font);
}
.page-content .sort-content label{
    font-weight: 600;
}
.page-content .sort-content .btn{
    background-color: #fff;
    border-radius: 3px;
    outline: none;
    border: none;
}
.page-content .shop-item{
    position: relative;
}
.page-content .shop-item .item-img{
    height: 300px;
}
.page-content .shop-item .item-img a{
    display: block;
    height: 100%;
}
.page-content .shop-item .item-img a img{
    max-width: 100%;
    height: 100%;
}
.page-content .shop-item .item-details{
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.4s;
    background-color: #fff;
    padding: 20px 15px 0px;
    position: relative;
    z-index: 10;
}
.page-content .shop-item .item-details h2{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--third-font);
}
.page-content .shop-item .item-details h2 a{
    color: #212121;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    transition: 0.4s;
}
.page-content .shop-item .item-details h2 a:hover{
    color: var(--main-text-color);
}
.page-content .shop-item .item-details .prices{
    font-size: 16px;
    font-family: var(--third-font);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    margin-top: 9px;
    line-height: 1;
}
.page-content .shop-item .item-details .prices .price{
     font-weight: 500;
}
.page-content .shop-item .item-details .prices .old-price{
    margin-right: 10px;
    color: #999999;
    text-decoration: line-through;
}
.page-content .shop-item .icons{
    position: absolute;
    top: 18px;
    right: 18px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    z-index: 9;
}
.page-content .shop-item .icons a{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.page-content .shop-item .icons a:hover{
    background-color: var(--main-text-color);
}
.page-content .shop-item .icons .icon2,
.page-content .shop-item .icons .icon3{
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.4s;
}
.page-content .shop-item .add-to-cart{
    border: 0px;
    width: 80%;
    z-index: 11;
    text-align: center;
    margin: 10px auto 0px;
    transition: 0.4s;
    border-radius: 3px;
    font-family: var(--heading-font);
    font-weight: 600;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    height: 45px;
    display: block;
    line-height: 45px;
    color: #2f333a;
    font-size: 14px;
    background-color: #fff;
    visibility: hidden;
    transform: translateY(20px);
}
.page-content .shop-item .add-to-cart:hover{
    color: var(--main-text-color);
}
.page-content .shop-item .add-to-cart svg{
    margin-right: 3px;
}
.page-content .shop-item .add-to-cart:hover svg{
    stroke: var(--main-text-color);
    fill: var(--main-text-color);
}
.page-content .shop-item:hover .icons .icon2,
.page-content .shop-item:hover .icons .icon3,
.page-content .shop-item:hover .add-to-cart{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;
}
.discount-div{
    position: absolute;
    z-index: 8;
    top: 18px;
    left: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.discount-div .discount-span{
    font-size: 12px;
    font-weight: 500;
    font-family: var(--secondary-font);
    line-height: 1;
    display: block;
    padding: 5px 7px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    border-radius: 3px;
    color: white;
    background-color: #dc3545;
}
/*end page-content*/